/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gradient-color: linear-gradient( to right botom;
    rgba(255, 119, 48, 0.8), rgba(255, 185, 0 0.8));
}

html {
    font-size: 10px;
} */


/* a {
    text-decoration: none;
    color: inherit;
}

main {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #333;
    background-color: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
} */

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.5);
}

.image-data {
    height: 25rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/images/city-night-usa.jpeg") center no-repeat;
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
}

.card:hover .background-image {
    transform: scale(1.5);
}

.post-data {
    background-color: #fff;
    padding: 2rem 3rem;
    position: relative;
}

.publication-details {
    width: 100%;
    height: 100%;
    background: var(--gradient-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.publication-details i {
    margin-right: 1rem;
}

.author {
    display: inline-block;
    margin-bottom: 0.5rem;
    transition: all 0.5s 0.3s;
}

.author:hover {
    color: rgba(255, 255, 255, 0.75);
}

.date {
    display: block;
}

.title {
    font-size: 3rem;
    line-height: 1;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #a2a2a2;
    margin: 1rem 0 1.5rem 0;
}

.description {
    position: relative;
}

.description::first-letter {
    margin-left: 1rem;
}

.description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 2rem;
    background: var(--gradient-color);
    border-radius: 2rem;
}

.cta {
    text-align: right;
    font-weight: bold;
    margin-top: 1rem;
}

.cta a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.cta a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 100%;
    height: 3px;
    background: var(--gradient-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

.cta a:hover::before {
    transform: scaleX(1);
}

@media screen and (min-width: 600px) {
    .card {
        flex-direction: row;
        max-width: 75rem;
    }
    .image-data {
        flex-basis: 40%;
        height: unset;
    }
    .publication-details {
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
    .card:hover .publication-details {
        transform: translateX(0);
    }
    .author {
        transform: translateY(-3rem);
        opacity: 0;
        transition-delay: 0.3s;
    }
    .card:hover .author,
    .card:hover .date {
        transform: translateY(0);
        opacity: 1;
    }
    .date {
        transform: translateY(3rem);
        opacity: 0;
    }
    .post-data {
        flex-basis: 60%;
    }
    .post-data::before {
        content: "";
        width: 3.5rem;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -1.5rem;
        z-index: 10;
        transform: skewX(-5deg);
    }
}
